@tailwind base;
@tailwind components;
@tailwind utilities;


::selection {
    color: #5B6DF3; 
    background-color: rgba(91, 109, 243, 0.3); 
}

.custom-sidebar {
    background: transparent !important;
}

.ant-menu-item-selected {
    background-color: #5B6DF3 !important;
    color: #fff !important;
}

.transition-margin {
    transition: margin-left ease-in-out;
}

/* @media (max-width: 768px) {
  .custom-sidebar {
    width: 60px !important; 
    min-width: 60px !important;
    max-width: 60px !important;
  }

  .toggle {
    margin-left: 10px !important;
  }
} */

.no-scrollbar{
  &::-webkit-scrollbar{
    opacity: 0;
  }  
}

.divider {
  height: 55%;
  width: 1.5px; 
  background-color: #8694ff;
  margin: 0 10px; 
}

/* styles.css */
.chat-popup {
  opacity: 0;
  transform: translateZ(-100px) rotateY(90deg);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.chat-popup-enter {
  opacity: 1;
  transform: translateZ(0) rotateY(0);
}

.chat-popup-exit {
  opacity: 0;
  transform: translateZ(-100px) rotateY(-90deg);
}

/* .chat-popup {
  opacity: 0;
  transform: translateY(50px) scale(0.5) rotate(15deg);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.chat-popup-enter {
  opacity: 1;
  transform: translateY(0) scale(1) rotate(0);
}

.chat-popup-exit {
  opacity: 0;
  transform: translateY(50px) scale(0.5) rotate(-15deg);
} */
